<div class="card-container" >
    <div *ngFor="let card of cards">
        <div>
        <app-my-blog-card [title]="card.attributes['title']" [body]="card.attributes['body']"
        [createdAt]="card.attributes['createdAt']"
        [imageUrl]="card.attributes.image.data.attributes.formats.medium['url']" [id]="card.id" [isPublished]="card.attributes['isPublished']" [author]="card.attributes.author.data[0].attributes['username']" (delete)="handleDelete($event)"></app-my-blog-card>
        </div>
    </div>
</div>
